* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
}

.product-cards-container {
    max-width: 1200px;
    margin: 450px auto 0 auto;
    margin-top: -300px;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 45px 40px;
}

.card-container {
    padding: 20px;
    background-color: #F7F7FA;
    box-shadow: 2px 2px 10px 0px #5150761A;
    flex-direction: column;
    display: flex;
    width: 350px;
    height: 573px;

}

.product-category {
    font-size: 12px;
    color: #A5A3B9;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 5px;
    display: block;
}

.product-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 5px;
    color: #252836;
}

.product-desciption {
    margin-top: 8px;
    margin-bottom: 20px;
}

.product-compounds {
    list-style: circle;
    margin-bottom: 25px;
    margin-top: 5px;
}

.product-compound-item {
    margin-left: 14px;
    margin-bottom: 5px;
}

.product-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price-label {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.product-price {
    font-weight: 700;
    font-size: 18px;
    color: #252836;
}

.page-title {
    position: absolute;
    text-align: center;
    font-weight: 400;
    font-size: 70px;
    line-height: 78px;
    width: 846px;
    height: 78px;
    top: 220px;
    left: 217px;
}

.background {
    width: 790px;
    height: 697px;
    background-image: url('../images/flowers-bg.png');
    background-size: 790px 697px;
    background-position: 85px 0px;
    background-repeat: no-repeat;
}

.container-button {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.button-design {
    padding: 10px 15px;
    background-color: #515076;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.bg-yellow {
    background-color: yellow;
}

.bg-green {
    background-color: green;
}