* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
}

.product-cards-container {
    max-width: 1200px;
    margin: 450px auto 0 auto;
    margin-top: -300px;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 45px 40px;
    padding-bottom: 50px;
}

.card-container {
    padding: 20px;
    background-color: #F7F7FA;
    box-shadow: 2px 2px 10px 0px #5150761A;
    flex-direction: column;
    display: flex;
    width: 350px;
    height: auto
}

.product-category {
    font-size: 12px;
    color: #A5A3B9;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 5px;
    display: block;
}

.product-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 5px;
    color: #252836;
}

.product-desciption {
    margin-top: 8px;
    margin-bottom: 20px;
}

.product-compounds {
    list-style: circle;
    margin-bottom: 25px;
    margin-top: 5px;
}

.product-compound-item {
    margin-left: 14px;
    margin-bottom: 5px;
}

.product-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price-label {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.product-price {
    font-weight: 700;
    font-size: 18px;
    color: #252836;
}

.page-title {
    position: absolute;
    text-align: center;
    font-weight: 400;
    font-size: 70px;
    line-height: 78px;
    width: 846px;
    height: 78px;
    top: 220px;
    left: 217px;
}

.background {
    width: 790px;
    height: 697px;
    background-image: url('../images/flowers-bg.png');
    background-size: 790px 697px;
    background-position: 85px 0px;
    background-repeat: no-repeat;
}

.container-button {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.button-design {
    padding: 10px 15px;
    background-color: #515076;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.bg-yellow {
    background-color: yellow;
}

.bg-green {
    background-color: green;
}

footer {
    width: 1728px;
    height: 477px;
    border-radius: 8px;
    padding: 40px 50px 20px 50px;
    background-color: #3A3A3A;
    color: white;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 30px;
}

.footer-brand {
    flex: 1;
}

.footer-brand h2 {
    font-size: 28px;
    line-height: 154%;
    font-weight: 800;
    font-family: 'Montserrat';
    color: #FFFFFF;
    height: auto;
    padding-bottom: 16px;
}

.footer-brand p {
    text-decoration: none;
    color: #ccc;
    font-size: 18px;
    transition: color 0.2s;
}

.tg-icon {
    margin-top: 10px;
    width: 21px;
    height: 17px;
    margin-right: 30.5px;
}

.vk-icon {
    margin-top: 10px;
    width: 24px;
    height: 14px;
}


.footer-subscribe {
    flex: 1.5;
    text-align: center;
}

.footer-subscribe p {
    font-size: 24px;
    width: 350px;
    height: 29px;
    top: 85px;
    left: 713px;
    color: #FFFFFF
}

form.subscribe-form {
    display: flex;
    width: 477px;
    height: 61px;
    background: white;
    border-radius: 10px;
    align-items: center;
}

form.subscribe-form input[type="email"] {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    padding-left: 36px;
    padding-top: 22px;
    padding-bottom: 22px;
    flex-grow: 1;
    text-decoration: none;
    border: none;
    background: transparent;
    color: #000000BF;
    outline: none;
}

form.subscribe-form input[type="email"]::placeholder {
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.9);
}


form.subscribe-form button[type="submit"] {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-decoration: none;
    border: none;
    color: #000000;
    background: transparent;
    border-left: 1px solid #000000;
    padding-left: 21px;
    padding-right: 15px;
}

form.subscribe-form button[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.footer-nav {
    padding-right: 75px;
    height: 147px;
}

.footer-nav h3 {
    font-size: 20px;
    margin-bottom: 12px;
    color: #ddd;
}


.footer-nav ul {
    list-style: none;
}

.footer-nav ul li {
    margin-bottom: 8px;
}

.footer-nav ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 18px;
    transition: color 0.2s;
}

.footer-nav ul li a:hover {
    color: white;
}


.footer-bottom {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}



.footer-bottom small {
    display: block;
    position: relative;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.footer-bottom small::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 66px;
    height: 1px;
    background-color: white;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 99;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 100;
    min-width: 320px;
    flex-wrap: wrap;
    flex-direction: row;
}

.modal-showed {
    display: block;
}

.overlay-showed {
    display: block;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}